<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I'm Ivaylo Sakelariev, Managing Partner at Pixels - digital marketing agency. In my spare time I do some development and data analysis for personal projects. Most of my work is aiming to better understand (and hopefully improve) how technology affects our abillity to concentrate and perform Deep Work. </p>
                </div>
                <div class="col-lg-4">
                    <p>I graduated from Bayerische Akademie fur Werbung und Marketing (BAW) with a degree in Marketing Communications and I'm currently enrolled in a General Psychology Masters at Sofia University.</p>
                </div>
            </div>
        </div>
    </section>
